body{
    background-color: #e1fcf9;
}

.paper-col{
    padding: 15px;
}

.MuiInputBase-input{
    padding: 14px !important;
    font-size: 14px !important;
}

.MuiInputLabel-root{
    font-size: 14px !important;
}

.MuiTextField-root{
    width: 100%;
    margin: 8px 0px 8px 0px !important;
}

p {
    font-size: 14px;
    margin: 0px;
    padding: 5px;
}

small{
    margin: 0px;
    padding: 5px;
    font-size: 12px;
}

.lang_templates{
    padding: 5px 15px 5px 15px;
    margin: 5px 0px 15px 0px;
}

.MuiFormLabel-root{
    color: #075e54 !important;
}

.MuiOutlinedInput-notchedOutline {
    border-color: #075e54 !important;
}